.tableDepotEspece{
    background: #444;
      color: #fff;
      padding: 8px;
      margin: 3px;
      border: 2px solid #fff;
      text-align: center;
      width: 100%;
   }
   .tableDepotEspece tr,td{
    border: 2px solid #fff;
    padding: 5px;
   }
   .tableDepotEspeceCDF{
    background: #444;
      color: #fff;
      padding: 8px;
      margin: 3px;
      border: 2px solid #fff;
      text-align: center;
      width: 100%; 
   }

   .tableDepotEspeceCDF tr,td{
    border: 2px solid #fff;
    padding: 0px;

   }